#carrousel{
   width:508px;
   height:600px;
   margin:0 auto;
}
.slide{
   border:none;
   float:left;
}
.slide ul{
	list-style:none;
}
.slide ul li{
	float: left;
	padding: 3px;
	height: 540px;
	font: 13px Verdana, Arial, Georgia;
	color: #666;
	list-style-type: none;
	}
.slide ul li h1{
	font:22px "Times New Roman", Times, Arial; 
	color:#036BAC;
	font-style:italic;	
}

.slide ul li img{
	width:453px;		
}


#meu_form .grupo:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.campo {
    margin-bottom: 1em;
}
 
.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="url"],
.campo input[type="tel"],
.campo input[type="email"],
.campo select,
.campo textarea {
	width:31em;
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}



.campo select option {
    padding-right: 1em;
}
 
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #2A1FFF;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
 
.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
 
.botao, select, label.checkbox {
    cursor: pointer;
}


.tabelaEditavel {
    border:solid 1px;
    width:100%
}

.tabelaEditavel td {
    border:solid 1px;
}

.tabelaEditavel .celulaEmEdicao {
    padding: 0;
}

.tabelaEditavel .celulaEmEdicao input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210);  
}



